<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <app-sidebar class="col-sm-2"></app-sidebar>
    <div id="recentMain" class="col-sm-8">
      <h1>Recent Games</h1>
      <div class=container>

        <div *ngFor="let game of games" class="row game">
          <div class="col-sm-2 gameDate">
            <p>{{game.date | date }}</p>
          </div>


          <div class="homeTeam teamData col-sm-5" [ngStyle]="{'background':game.goalDiff > 0 ?
                                                      'linear-gradient(to right, rgba(34, 239, 0, 0.36), rgba(0,0,0, 0)' : (game.goalDiff < 0 ?
                                                      'rgba(255, 81, 81, 0.56)' :
                                                      'rgba(255, 255, 73, 0.59)'
                                                      )}">

            <h3>{{game.homeTeamName}}</h3>
            <span class="score homeScore">{{game.result.goalsHomeTeam}}</span>
          </div>

          <div class="awayTeam teamData col-sm-5" [ngStyle]="{'background-color':game.goalDiff < 0 ?
                                                      'rgba(34, 239, 0, 0.36)' : (game.goalDiff > 0 ?
                                                      'rgba(255, 81, 81, 0.56)' :
                                                      'rgba(255, 255, 73, 0.59)'
                                                      )}">

            <span class="score awayScore">{{game.result.goalsAwayTeam}}</span>
             <h3>{{game.awayTeamName}}</h3>
          </div>

        </div>

      </div>

    <div class="col-sm-1"></div>

    </div>
  </div>
</div>
