.nav-link {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: -2px;
}

#leftmost {
  border-left: 1px solid gray;
  border-top-left-radius: 5px;

}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(45, 121, 51, 0.3);

}

#navbar {
  margin-bottom: 25px;
  color: white;
}

.navbar-nav li .nav-link
{
  color: white;
}



@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes roll {
  to {margin-left: 1000px;}
}
