<nav class="navbar navbar-expand-md bg-dark navbar-light" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <a class="navbar-brand" routerLink="">
    <img src="../../assets/logo.png" id="navLogo"/>
  </a> -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" id="leftmost" routerLink="/MainLadder">Ladder</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/RecentGames">Recent Games</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Teams</a>

      <div class="dropdown-menu" >
        <a class="dropdown-item" routerLink="/ViewTeam/{{team.id}}" *ngFor="let team of myTeam"> {{team.name}} </a>
        <!--<a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>-->
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Head2Head">Head 2 Head</a>
    </li>
  </ul>
  <a class="navbar-brand" routerLink="">
    <img src="../../assets/logo.png" id="navLogo"/>
  </a>
</div>
</nav>
